.wrap {
    padding: 30px;
    width: 80%;
}

.field {
    width: 100%;
    min-height: 500px;
    resize: none;
    height: fit-content;
    font-size: 1.4em;
}

.wrap button {
    width: 200px;
    height: 30px;
    font-size: 1.1em;
}